.app-screen {
    width: 100vw;
    height: 100vh;
    background: #eff8ff;
    display: flex;
    align-items: center;
    justify-content: center;

    .app-bg {
        width: 144rem;
        padding: 0 7rem;

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;

        .app-text {
            display: flex;
            justify-content: center;
            flex-direction: column;

            h1 {
                font-family: Sora, "sans-serif";
                color: #293145;
                font-size: 3.2rem;
                font-weight: 600;
                line-height: 4rem;
                margin-bottom: 2.4rem;
            }

            p {
                width: 44.4rem;
                font-family: Inter, "sans-serif";
                color: #6e7275;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.6rem;
            }

            .app-btn {
                cursor: pointer;
                margin-top: 3.5rem;

                img {
                    width: 16.5rem;
                    height: 5.3rem;
                }

                img:nth-child(2) {
                    margin-left: 2.8rem;
                }
            }
        }

        .img-background {
            width: 40rem;
            height: 40rem;
        }
    }

    @media screen and (max-width: 911px) {
        .app-bg {
            flex-direction: column-reverse;

            .app-text {
                align-items: center;
                justify-content: center;

                & > h1,
                p {
                    text-align: center;
                }
            }
        }
    }
}
