.container {
    height: 100vh;
    padding-top: 7rem;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .about-img {
        width: 100%;
        max-width: 144rem;
        height: 40rem;

        background-image: url("../../assets/aboutBackground.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .about-img-filter {
        width: 100%;
        max-width: 144rem;
        height: 40rem;
        background: rgba(41, 49, 69, 0.7);

        display: flex;
        align-items: center;
        flex-direction: column;

        h1 {
            margin-top: 5rem;
            font-family: Sora, sans-serif;
            font-size: 4rem;
            color: #fff;
        }

        p {
            width: 52.4rem;
            margin-top: 1.6rem;
            font-family: Inter, sans-serif;
            font-size: 1.8rem;
            text-align: center;
            color: #fff;
            line-height: 2.5rem;
        }

        form {
            margin-top: 9.9rem;

            input {
                width: 30rem;
                height: 3.2rem;
                color: #fff;
                font-family: Inter, sans-serif;
                font-size: 1.8rem;
                border: none;
                border-bottom: solid 0.1rem #fff;
                background: none;
                outline: none;

                &::placeholder {
                    color: #fff;
                }
            }

            button {
                margin-left: 4rem;
                width: 11.8rem;
                height: 3.8rem;

                color: #fff;
                background-color: #0f9afe;
                border: none;
                border-radius: 5rem;

                font-family: Inter, sans-serif;
                font-size: 1.8rem;

                cursor: pointer;
            }
        }
    }
    footer {
        margin-top: 4.1rem;
        font-size: 2rem;
        font-family: Sora, sans-serif;
    }
}
