.main-info {
    height: 100vh;
    padding-top: 7rem;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    h1 {
        font-family: Sora;
        font-weight: 600;
        font-size: 4rem;
        font-weight: 5rem;
        color: #293145;
        margin-bottom: 8.4rem;
    }

    .info-carder {
        width: 77.1rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .carder-info {
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 6rem;
                height: 6rem;
            }

            h2 {
                font-size: 1.8rem;
                font-family: Sora;
                font-weight: 600;
                line-height: 2.2rem;
                color: #293145;
                margin-top: 4rem;
                margin-bottom: 1.6rem;
            }

            p {
                width: 21rem;
                font-family: Inter;
                font-size: 1.6rem;
                font-weight: 400;
                line-height: 2.6rem;

                text-align: center;
            }
        }
    }

    .carder:nth-child(2) {
        padding: 0 11.9rem;
    }
}
