.container {
    width: 100vw;
    height: 100vh;

    padding-top: 70px;

    .background-container {
        width: 100%;
        height: 100%;
        background: #eff8ff;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .main {
        width: 1440px;

        padding: 0 70px;

        display: flex;

        align-items: center;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }

    .main-text {
        h1 {
            width: 580px;
            color: #293145;
            font-family: Sora;
            font-size: 48px;
            font-weight: 600;
            line-height: 60px;
        }

        button {
            width: 200px;
            height: 56px;
            margin-top: 66px;
            color: #fff;
            background-color: #0f9afe;
            font-family: Inter;
            font-size: 20px;
            font-weight: 24px;
            border-radius: 50px;
            border: none;
        }
    }

    img {
        width: 500px;
        height: 500px;
    }
}
